fastapi
uvicorn[standard]
PyMuPDF
openai
python-multipart
watchfiles
langchain
langchain-community
langchain-openai 
pydantic
ragas
scikit-llm
weaviate-client
nltk
unstructured[pdf]
httpx
pytest
pyyaml
